### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="TL_C50-V6"

############################################################
### Linux kernel configuration
############################################################

### Enable MT7628 CPU sleep mode (downclock to 100MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz (MT7628)
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### Kernel driver select for WiFi AP 5GHz (MT7613)
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include CIFS (SMB) client. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources (Russian only)
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Include "tcpdump" utility. ~0.6MB
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y  # Отключено для экономии места

### Include EAP-TTLS and EAP-PEAP authentication support.
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include HTTPS support for DDNS client.
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Include HTTPS support.
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Include dropbear SSH. ~0.3MB
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y

### Include OpenVPN. IPv6 required.
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Include xUPNPd IPTV mediaserver. ~0.3MB
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y  # Отключено при нехватке Flash

### Include OpenSSL EC support
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include SFTP server
#CONFIG_FIRMWARE_INCLUDE_SFTP=y  # Требует много места

### Отключено для экономии места (8 МБ Flash):
#CONFIG_FIRMWARE_INCLUDE_TOR=y
#CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
#CONFIG_FIRMWARE_INCLUDE_LUA=y

############################################################
### Настройки сети (важно для v6!)
############################################################

### Порт WAN/LAN (адаптация под v6)
CONFIG_RAETH_ESW_PORT_WAN=4
CONFIG_RAETH_ESW_PORT_LAN1=0
CONFIG_RAETH_ESW_PORT_LAN2=1
CONFIG_RAETH_ESW_PORT_LAN3=2
CONFIG_RAETH_ESW_PORT_LAN4=3

### Wi-Fi Settings
CONFIG_RT_FIRST_IF=MT7628      # 2.4 ГГц (встроенный в MT7628)
CONFIG_RT_SECOND_IF=MT7613     # 5 ГГц (MT7613)
CONFIG_RT_SECOND_IF_APCLI=y    # Поддержка клиентского режима 5 ГГц

### Размер раздела для настроек (адаптация под 8 МБ Flash)
CONFIG_MTD_STORE_PART_SIZE=0x80000  # 512 КБ
